.navbar-custom{
  padding: 1em 4em;
  border-bottom: 2px solid #eee;
}
.filterBox{
  border:1px solid #eee;
  padding:1em;
  max-height: 250px;
  margin-top: 3em;
}
.carsBlock{
  padding:0 1em;
  margin-top: 3em;
}
.carBlockItem{
  border:1px solid #eee;
  margin:0;
  padding:1em;
  margin-bottom: 1em;
}
.primaryButton{
  border-radius: 2px;
  padding:0.3em 3em;
  background:#EA7F28;
  border-color:#EA7F28;
}
.car-image{
  display: flex;
  padding:0.6em;
  margin:0 auto;
  align-items: center;
  justify-content: center;
}
.primaryButton:hover,.primaryButton:active,.primaryButton:visited,
.primaryButton:not(:disabled):not(.disabled):active, .primaryButton:not(:disabled):not(.disabled).active, .show > .primaryButton.dropdown-toggle{
  background:#EA7F28;
  border-color:#EA7F28;
}
.pagination{
  justify-content: center;
  margin:2em auto 4em auto;
}
.saveCarBlock{
  border:1px solid #eee;
  padding:1em;
  min-height: 140px;
  margin-top:6em;
}
/* overrides of bootstrap */
.page-link,a,a:hover,.page-item.active .page-link{
  color:#EA7F28;
  background:#fff;
  border:0;
}
.page-item.active .page-link{
  color:#333;
}
.page-link:hover,.page-link:active,.page-link:visited,.page-link:focus,
.page-link:not(:disabled):not(.disabled):active, .page-link:not(:disabled):not(.disabled).active, .show > .page-link.dropdown-toggle{
background: #fff;
color:#D37324;
outline:0;
}