.navbar-custom{
  padding: 1em 4em;
  border-bottom: 2px solid #eee;
  margin-bottom: 3em;
}
.filterBox{
  border:1px solid #eee;
  padding:1em;
  max-height: 250px;
}
.carsBlock{
  padding:0 1em;
}
.carBlockItem{
  border:1px solid #eee;
  margin:0;
  padding:1em;
  margin-bottom: 1em;
}
.primaryButton{
  border-radius: 2px;
  padding:0.3em 3em;
  background:#EA7F28;
  border-color:#EA7F28;
}
.car-image{
  display: flex;
  padding:0.6em;
  width:100%;
  align-items: center;
  justify-content: center;
}
.primaryButton:hover,.primaryButton:active,.primaryButton:visited,
.primaryButton:not(:disabled):not(.disabled):active, .primaryButton:not(:disabled):not(.disabled).active, .show > .primaryButton.dropdown-toggle{
  background:#EA7F28;
  border-color:#EA7F28;
}